.ConverterBOX {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #967259;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.ConverterBOX label {
    color: white;
    font-weight: bold;
}

.ConverterBOX input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.ConverterBOX button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #5a9;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.5s ease;
}

.ConverterBOX button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}