#Container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: #967259;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}


.input-group {
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    font-size: 16px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border: none;
}

.color-preview {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border: 2px solid #b9b3b3;
    border-radius: 5px;
    display: inline-block;
}
#colorPreview{
    justify-content: center;
    align-items: center;
    display: flex;
}