* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b9b3b3;
}

main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.FeatureBOX {
    min-height: 200px;
    min-width: 200px;
    height: 250px;
    width: 287px;
    background-color: #967259;
    border-radius: 8px;
    margin: 1.5%;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.FeatureBOX a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.FeatureIMG {
    border-radius: 50px;
    height: 100px;
    margin-top: 15px;
}

.FeatureBOX:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.FeatureNAME {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
}