.FeatureBOX {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: #967259;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.PasswordBOX {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.PasswordBOX input {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.PasswordBOX button {
    border: none;
    border-radius: 8px;
    transition: transform 0.1s ease, box-shadow 0.5s ease;
    user-select: none;
    cursor: pointer;
    padding: 9px;
    font-weight: bold;
    margin-top: auto;
}