*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e0e0e0;
    font-weight: bold;
    overflow: hidden;
}
main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
}

button{
    border: none;
    border-radius: 8px;
    transition: transform 0.1s ease, box-shadow 0.5s ease;
    user-select: none;
    cursor: pointer;
    padding: 9px;
    font-weight: bold;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
#temperatura{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 8px;
}
#tempcalc{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: #967259;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}